[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "==2.25"
environs = "~=8.0.0"
requests = "*"
pyautogui = "*"
instapy = "*"
asyncpg = "*"
django = "*"
psycopg2-binary = "*"
django-jazzmin = "==2.6.0"

[dev-packages]

[requires]
python_version = "3.11"
